.headerItem {
  $root: &;
  @apply
    flex
    items-center
    gap-4px
    relative
    rounded-4px
    h-header-height
    py-8px
    px-16px
    font-medium
    text-16px/24px
    transition-colors
    focus-visible:shadow-focus-inner
  ;

  &::before {
    content: '';
    @apply
      block
      absolute
      bottom-0
      left-8px
      right-8px
      h-6px
      rounded-4px
      transition-colors
    ;
  }

  .icon {
    @apply
      flex-shrink-0
      text-24px/1
    ;
  }

  &--vertical {
    @apply
      flex-col
    ;
  }

  &:hover {
    @apply
      bg-neutral
      before:bg-neutral-400
    ;
  }
  &:active {
    @apply
      bg-neutral-active
      before:bg-neutral-800
    ;
  }

  &--active ,
  &[data-active] {
    @apply
      text-white
      bg-primary
      before:bg-primary-400
    ;

    &:hover {
      @apply
        bg-primary-hover
        before:bg-primary-400
      ;
    }
    &:active {
      @apply
        bg-primary-active
        before:bg-primary-400
      ;
    }
  }
}
