$z-index-header: 20;
$z-index-header-hero: 19;
$z-index-footer: 5;
$z-index-mobile-menu: 30;
$z-index-nav-bar: 10;
$z-index-side-nav: 10;
$z-index-popup: 50;
$z-index-select-options: 40;
$z-index-popup-select-options: 80;
