html,
body {
  padding: 0;
  margin: 0;
  font-size: $root-font-size;
  font-weight: $fw-regular;
  line-height: 1;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-x: clip;
}

html {
  min-height: 100%;
}

body {
  @include fontFamily('main');
  font-weight: $fw-regular;
  line-height: $root-line-height;
  color: $c-text;
  background-color: $c-bg;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

*::selection {
  background-color: $c-selection-bg;
  color: $c-selection;
}

input,
textarea,
button {
  @include fontFamily('main');
  font-weight: $fw-regular;
}

input[type="search"]::-ms-clear,
input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

sup,
sub {
  font-size: smaller;
}
sup {
  vertical-align: super;
}
sub {
  vertical-align: sub;
}

strong {
  font-weight: $fw-bold;
}

[v-cloak] {
  display: none !important;
}

a:focus-visible,
*:focus-visible {
  outline: none;
  // @include focus;
}

